{% extends 'base.html' %}

{% block container %}
      <div class="row">

        <div class="col-sm-8 blog-main">
            {% block content %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="/archive/03/2014">March 2014</a></li>
              <li><a href="/archive/05/2019">May 2019</a></li>
              <li><a href="/archive/01/2014">January 2014</a></li>
              <li><a href="/archive/12/2013">December 2013</a></li>
              <li><a href="/archive/11/2013">November 2013</a></li>
              <li><a href="/archive/11/2013">October 2013</a></li>
              <li><a href="/archive/09/2013">September 2013</a></li>
              <li><a href="/archive/08/2013">August 2013</a></li>
              <li><a href="/archive/07/2013">July 2013</a></li>
              <li><a href="/archive/06/2013">June 2013</a></li>
              <li><a href="/archive/05/2013">May 2013</a></li>
              <li><a href="/archive/04/2013">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{% endblock %}
